.Our-Process {
  width: 328px;
  height: 67px;
  margin: 71px 180.3px 80px 262px;
  text-shadow: 5px 5px 20px #000;
  font-family: Philosopher;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.Get-in-Touch {
  width: 136px;
  height: 29px;
  margin: 39px 276.3px 25px 256px;
  opacity: 0.9;
  text-shadow: 5px 5px 20px #000;
  font-family: Philosopher;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
